.orange-bg {
    background-color: #fceae8;
    border-radius: 5px;
}

section {
    margin: 80px 0;
}

.buy-now-btn {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}

.price{
    color: #FF136F;
}
.categories h4{
    color: white;
}
 .categories img {
    width: 100px;
 }
 .card-1,.card-2,.card-3{
    padding: 20px 0 ;
    border-radius: 7px;
 }
.card-1{
    background-color: #dd0c9e;
}
.card-2{
    background-color: #3aff13;
}
.card-3{
    background-color: #0d6ce7;
}
.card{
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 10px;

}


.subscribe{
    height: 400px;
    background-color: #FFF2F1;
}

